.fonts {
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Quicksand', sans-serif;
}