.fonts {
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.cover-container {
    position: relative;
    width: 878px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-design-button {
    position: absolute;
    top: 140px;
    left: 640px;
    cursor: pointer;
}

.ui-design-button:hover,
.animation-button:hover,
.illustrations-button:hover,
.aboutme-button:hover {
    left: 645px;
}

.graphic-design-button {
    position: absolute;
    top: 240px;
    left: 630px;
    cursor: pointer;
}

.graphic-design-button:hover {
    left: 635px;
}

.animation-button {
    position: absolute;
    top: 350px;
    left: 640px;
    cursor: pointer;
}

.illustrations-button {
    position: absolute;
    top: 470px;
    left: 640px;
    cursor: pointer;
}

.aboutme-button {
    position: absolute;
    top: 570px;
    left: 640px;
    cursor: pointer;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    position: relative;
    z-index: -1;
}

.ui-design-button h3,
.graphic-design-button h3,
.animation-button h3,
.illustrations-button h3,
.aboutme-button h3 {
    position: absolute;
    left: 80px;
    top: 8px;
    font-family: 'Special Elite', cursive;
    font-weight: 500;
}

.graphic-design-button h3 {
    left: 90px;
}

.ui-design-button h3:hover,
.graphic-design-button h3:hover,
.animation-button h3:hover,
.illustrations-button h3:hover,
.aboutme-button h3:hover,
.graphic-design-button h3:hover {
    font-weight: 600;
}

.pages-container {
    position: relative;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-design-button-pages {
    position: absolute;
    top: 140px;
    left: 1100px;
    cursor: pointer;
}

.ui-design-button-pages:hover,
.animation-button-pages:hover,
.illustrations-button-pages:hover,
.aboutme-button-pages:hover {
    left: 1095px;
}

.graphic-design-button-pages {
    position: absolute;
    top: 240px;
    left: 1090px;
    cursor: pointer;
}

.graphic-design-button-pages:hover {
    left: 1085px;
}

.animation-button-pages {
    position: absolute;
    top: 350px;
    left: 1100px;
    cursor: pointer;
}

.illustrations-button-pages {
    position: absolute;
    top: 470px;
    left: 1100px;
    cursor: pointer;
}

.aboutme-button-pages {
    position: absolute;
    top: 570px;
    left: 1100px;
    cursor: pointer;
}

.graphic-design-button-pages h3,
.ui-design-button-pages h3,
.animation-button-pages h3,
.illustrations-button-pages h3,
.aboutme-button-pages h3 {
    position: absolute;
    left: 95px;
    top: 8px;
    font-family: 'Special Elite', cursive;
    font-weight: 500;
}

.graphic-design-button-pages h3 {
    left: 100px;
}

.ui-design-button-pages h3:hover,
.graphic-design-button-pages h3:hover,
.animation-button-pages h3:hover,
.illustrations-button-pages h3:hover,
.aboutme-button-pages h3:hover,
.graphic-design-button-pages h3:hover {
    font-weight: 600;
}

#ui-selected {
    left: 1095px;
}

#ui-selected h3 {
    font-weight: 600;
}

.ui-button {
    position: absolute;
    left: 1270px;
    top: 110px;
}

.ui-button:hover {
    top: 105px;
}

.clock-container {
    position: absolute;
    top: 90px;
    left: 60px;
    width: 520px;
}

.clock-container h1,
.clock-container h3 {
    font-family: 'Epilogue', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
}

.clock-container h3 {
    font-size: 20px;
    margin: 0;
    margin-left: 80px;
    margin-bottom: 5px;
    color: #B8C26C;
}

.clock-container p {
    font-family: 'Epilogue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 25px;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.clock-container .first {
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    grid-gap: 10px;
}

.clock-container video {
    margin-top: 10px;
}

.clock-colors {
    margin-left: 20px;
    padding-bottom: 10px;
}

.note-container {
    position: absolute;
    top: 90px;
    left: 630px;
    width: 480px;
}

.note-container .first {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-gap: 10px;
}

.note-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-top: 24px;
    color: #A54A3E;
}

.note-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 14px;
    width: 200px;
    margin-top: 0;
}

.note-container .code-img {
    position: absolute;
    top: 80px;
}

.note-container .first img {
    margin-top: 10px;
}

.note-container .second {
    margin-top: 30px;
}

.see-more {
    position: absolute;
    top: 760px;
    right: 0px;
}

.see-more:hover {
    top: 755px;
    right: -5px;
}

.go-back {
    position: absolute;
    top: 735px;
    left: 0px;
}

.go-back:hover {
    top: 730px;
    left: -5px;
}

.internship-container {
    position: absolute;
    top: 120px;
    left: 65px;
    width: 520px;
}

.internship-container .logo {
    margin-bottom: 10px;
}

.internship-container h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #0B3D5F;
}

.internship-container .first p {
    width: 400px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

.internship-img {
    position: absolute;
    top: 150px;
    left: 640px;
    width: 490px;
}

.internship-img .dots {
    margin-bottom: 10px;
}

.horoscope-container {
    position: absolute;
    top: 120px;
    left: 65px;
    width: 520px;
}

.horoscope-container .first {
    display: grid;
    grid-template-columns: repeat(2, 30% 35%);
    grid-gap: 40px;
}

.horoscope-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin: 0;
    margin-bottom: 20px;
    color: #F27E70;
}

.horoscope-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-top: 40px;
}

.horoscope-colors {
    position: absolute;
    top: 200px;
    left: 270px;
}

.horoscope-container .second {
    text-align: center;
}

.horoscope-container .second img:hover {
    position: relative;
    z-index: 3000;
}

.italian-container {
    position: absolute;
    top: 90px;
    left: 630px;
    width: 480px;
}

.italian-container h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
}

.italian-container p {
    font-family: 'Special Elite', cursive;
    font-size: 13px;
    line-height: 20px;
    width: 400px;
}